.form{
    font-family: 'Baloo Chettan', cursive;
    background: rgb(231, 226, 226);
    width:800px;
    height:600px;
    border: 1px solid black;
    margin: 0 auto;
}

.head{
    display: flex;
    justify-content:space-between;
    background: rgb(226, 214, 214);
    width:800px;
    height:70px;
    border-bottom: 1px solid black;
}


.content{
    width:760px;
    height:500px;
    margin: 15px auto;
    overflow-y:scroll;
    background: rgb(175, 159, 159);
    }

.message{
    display: flex;
    justify-content:flex-start;

}

.message-enter{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    border-right: 1px solid black;
}

.message-round{
    border: 2px solid black;
    width:40px;
    height:40px;
    border-radius:50%;
    background: rgb(226, 214, 214);
    text-align: center;
    line-height: 40px;
}

.message-data{
    padding-left:5px;
}

.message-body{
    flex: 1;
    display:flex;
    flex-direction: column;
    padding: 20px;
    
    
}

.message-text{
    padding:10px;
    background: rgb(226, 214, 214);
    border: 1px solid black;

}

.topic{
    display:inline-block;
    font-family: 'Baloo Chettan', cursive;
    font-size:23px;
}

.about{
    display:block;
    font-family: 'Baloo Chettan', cursive;
    font-size:23px;
    margin: 10px 10px 0 10px;
}


.date-of-message{
    display:block;
    font-family: 'Baloo Chettan', cursive;
    font-size:15px;
    margin: -5px 10px 5px 10px;

}
.button-close{
    display:inline-block;
    margin: 5px 15px;
}

